img.emoji {
  display: inline-block;
}
footer.footer {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

span.email_yelosan::after {
  content: "yelosan@youronly.one";
}
span.phone_yelosan::after {
  content: "";
}
