<!-- BGN: YourOnly.One Head-01-Top -->
    {{- if templates.Exists "partials/youronly.one-head-01-top.html" -}}
    {{ partial "youronly.one-head-01-top.html" . }}
    {{- end }}
<!-- END: YourOnly.One Head-01-Top -->

<meta http-equiv="X-UA-Compatible" content="ie=edge">

{{ block "title" . }}
    <title>
        {{ if .IsHome }}
            {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }} {{ end }}
        {{ else }}
            {{ .Title }} :: {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}
        {{ end }}
    </title>
{{ end }}

<!-- CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet"
    type="text/css">

{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ range $val := $.Site.Params.customCSS }}
    {{ if gt (len $val) 0 }}
        <link rel="stylesheet" type="text/css" href="{{ $val }}">
    {{ end }}
{{ end }}

<!-- Icons -->
{{- partial "favicons.html" . }}

<!-- Custom head tags -->
{{- if templates.Exists "partials/extra-head.html" -}}
    {{ partial "extra-head.html" . }}
{{- end }}

<!-- Google Analytics internal template -->
{{- if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
{{- end}}

<!-- BGN: YourOnly.One Head-02-Bottom -->
    {{- if templates.Exists "partials/youronly.one-head-02-btm.html" -}}
        {{ partial "youronly.one-head-02-btm.html" . }}
    {{- end }}
<!-- END: YourOnly.One Head-02-Bottom -->
